<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.why.edu.mapper.VideoMapper">


    <delete id="deleteByCourseIds">
        DELETE FROM edu_video
        WHERE
        <foreach collection="courseIds" item="id" separator="or">
            course_id = #{id}
        </foreach>
    </delete>

    <select id="selectVideoSourceId" resultType="string">
        SELECT video_source_id FROM edu_video WHERE id = #{videoId}
    </select>

    <select id="selectAllVideoSourceId" resultType="string">
         SELECT video_source_id
         FROM edu_video
         WHERE
        <foreach collection="courseIds" item="id" separator="or">
            course_id = #{id}
        </foreach>
    </select>

    <select id="selectCourseByVideoId" resultType="com.why.servicebase.entity.vo.ClientCourseVo">
        SELECT ec.title,ec.cover,ev.title AS videoTitle
        FROM edu_video ev
        LEFT JOIN edu_course ec ON ev.course_id = ec.id
        where ev.id = #{videoId}
    </select>
</mapper>
